{% extends 'base.html' %}
{% block content%}
<!-- 
<div id="services">
    <h4>SERVICES</h4>
    <p>At CALM TLT Ltd we offer a wide range of services</p>
    <div class="service">
        <div class="container">
            <div>
                <a href="#">
                    <i class="fa-solid fa-passport"></i>
                    <span>Visa Pr</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-suitcase"></i>
                    <span>Travel Packages</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-truck"></i>
                    <span>Logistics Packages</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-plane"></i>
                    <span>Flights Tickets</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-hotel"></i>
                    <span>Auxiary Services</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-comment"></i>
                    <span>Consultancy Services</span>
                </a>
            </div>
        </div>

    </div>
</div> -->

{% endblock %}